<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Lets Hunt</title>
  <style>
    .container {
      border: 1px solid rgb(66,220,163);
      padding: 15px;
      border-radius: 0.7rem;

    }
  </style>
</head>

<body style="color: rgb(255, 255, 255);">
  <section class="text-center content-section">
    
    <div class="container" style="width: 500px;">
      <h2>Password reset</h2>
      <form class="form">
        <span class="input-span">
          <label for="email" class="label">New Password</label>
          <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required="" minlength="6">
        </span>
        <span class="input-span">
          <label for="password" class="label">Confirm Password</label>
          <input type="password" id="confirmPassword" name="confirmPassword">
        </span>
        <div class="row" *ngIf="newPassword !== confirmPassword">
          <p style="color: red">Passwords do not match!</p>
        </div>
        <input class="submit" type="submit" value="Reset Password" (click)="resetPassword()">
      </form>
    </div>
  </section>

  <footer>
    <div class="container text-center">
      <p>Copyright ©&nbsp;Lets Hunt 2023</p>
    </div>
  </footer>

</body>

</html>
